{:highlights [{:id #uuid "662782b8-f201-44d3-a08b-56703d175731",
               :page 15,
               :position {:bounding {:x1 108.70295414328575,
                                     :y1 101.68524169921875,
                                     :x2 1098.867321819067,
                                     :y2 139.11297607421875,
                                     :width 1313,
                                     :height 738.5625},
                          :rects ({:x1 108.70295414328575,
                                   :y1 101.68524169921875,
                                   :x2 1098.867321819067,
                                   :y2 139.11297607421875,
                                   :width 1313,
                                   :height 738.5625}),
                          :page 15},
               :content {:text "Partitioning Large Matrices by Tiling for Parallelism and Locality"},
               :properties {:color "yellow"}}],
 :extra {:page 16}}
