{:highlights [{:id #uuid "677e4cdf-7656-445e-b837-0d3521a0df05",
               :page 29,
               :position {:bounding {:x1 291.9246520996094,
                                     :y1 164.34375,
                                     :x2 295.6858825683594,
                                     :y2 186.34375,
                                     :width 723,
                                     :height 406.6875},
                          :rects ({:x1 291.9246520996094,
                                   :y1 164.34375,
                                   :x2 295.6858825683594,
                                   :y2 186.34375,
                                   :width 723,
                                   :height 406.6875}),
                          :page 29},
               :content {:text nil},
               :properties {:color "blue"}}],
 :extra {:page 36}}
