{:highlights [{:id #uuid "6226db94-7e0f-49a6-9e38-a69999e97d9a",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 1019,
                                     :y2 2648,
                                     :width 1019.9999999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 1019,
                                   :y2 0,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}
                                  {:x1 0,
                                   :y1 1329,
                                   :x2 1019,
                                   :y2 2648,
                                   :width 1019.9999999999999,
                                   :height 1319.9999999999998}),
                          :page 4},
               :content {:text ""},
               :properties {:color "yellow"}}],
 :extra {:page 31}}
